*.exe
*.json
*.txt

!qwerty.json
!qwerty3x3.json
!qwertyRef.json
!qwertyRef3x3.json
!qwertyRef3x3+2.json

!qwertyRef3x3.txt
!qwerty3x3.txt
!qwerty3x3+2.txt
!qwertyFull.txt
!qwertyMain30.txt
!qwertyMain32.txt
!qwertyMain33.txt
